* {
    border: 1px solid #ffffff;
}

html {
    border: none;
}

body {
    background-color: #1F2937;
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0 5%; /* Remove default margin to ensure full-width navigation */
}

nav {
    background-color: yellowgreen; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Reduce the spacing between navigation links */
nav a {
    margin: 0 20px; /* Adjust the margin to decrease the horizontal spacing */
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the content horizontally */

}


/* section HERO start*/
.hero{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the content horizontally */
    background-color: green;   
}

.hero-text {
    padding: 20px; /* Optional: Add padding for spacing */
    width: 50%;

 }
 .hero-photo{
    width: 50%;
    padding: 20px; /* Optional: Add padding for spacing */
}

.hero-photo img {
    width: 100%;
    border-radius: 2rem;

 }

.hero-text p {
    text-align: justify;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: blue;
  }
/* section HERO end*/

/* section Battles start*/
.battles {
    display: flex;;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: burlywood;
 }

.battles-description { 
    display: flex;
    justify-content: center;      
}

.battles-description img {
    border-radius: 2rem;
    width: 80%;
    height: 60%;
} 

.battles-text{   
    text-align: center;
    background-color: RED;
}
.battles-description .rounds {
  text-align: center;
   }
 
/* section Battles end*/

/* section Messsage start*/

.motto {
    height: 300px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    align-items: center; /* Center the content vertically */
    flex-direction: column;
    position: relative; /* Add position relative to .message */
}

section h1 {
    display: flex;
    font-size: 40px;
    text-align: center;
}

.motto p {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    position: absolute; /* Add position absolute to .message p */
    bottom: 0; /* Position the element at the bottom */
    right: 0; /* Position the element at the right */
    margin-top: 10px; /* Optional: Add some margin for spacing */
}
/* section Messsage end*/


/* section motto start*/

.sign-up-message {
    display: flex;
    
    height: 300px;
    background-color: grey;
    justify-content: center;
    align-items: center; /* Center the content vertically */
   
}

.first-box {
    display: flex;
    height: 45%;
    width: 70%;
    background-color:brown;
    justify-content: space-around;
    align-content: center;      
}

.first-box button {
    display: flex;
    height: 40%;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.second-box {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.second-box p {
    background-color: blueviolet;
    margin-top: -20px;
}

.copyright p{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* section motto end*/
