* {
    border: 1px solid #ffffff;
}

html {
    border: none;
}

body {
    background-color: #1F2937;
    font-size: 20px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0 5%; /* Remove default margin to ensure full-width navigation */
}

nav {
    background-color: yellowgreen; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Reduce the spacing between navigation links */
nav a {
    margin: 0 20px; /* Adjust the margin to decrease the horizontal spacing */
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the content horizontally */

}


/* section HERO start*/
.hero{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Center the content horizontally */
    background-color: green;   
}

.hero-text {
    padding: 20px; /* Optional: Add padding for spacing */
    width: 50%;

 }
 .hero-photo{
    width: 50%;
    padding: 20px; /* Optional: Add padding for spacing */
}

.hero-photo img {
    width: 100%;
    border-radius: 2rem;

 }

.hero-text p {
    text-align: justify;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

button:hover {
    background-color: white;
    color: blue;
  }
/* section HERO end*/

/* section Battles start*/
.battles {
    display: flex;;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: burlywood;
 }

.battles-description { 
    display: flex;
    justify-content: center;      
}

.battles-description img {
    border-radius: 2rem;
    width: 80%;
    height: 60%;
} 

.battles-text{   
    text-align: center;
    background-color: RED;
}
.battles-description .rounds {
  text-align: center;
   }
  

/* section Battles end*/

